@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}
	.container-header {
		/* display: flex;
	align-items: center; */
		max-width: 1158px;
		/* margin: 0 auto;
	padding: 0 15px; */
	}
	.list {
		list-style: none;
		display: flex;
		align-items: center;
	}
	/* Hero section */
	.hero-container {
		max-width: 1200px;
	}
	.hero {
		background: var(--main-color);
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/background/people-office1.jpg);
		border-image-repeat: no-repeat;
		margin: 0 auto;
		max-width: 1440px;
		padding-top: 188px;
		padding-bottom: 188px;
		border: 1px solid #000;
	}
	/* Перевизначаємо шлях до 2x зображення,
    якщо щільність екрану мінімум 2 */
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/background/people-office-2x.jpg);
		}
	}
	.hero-title {
		font-size: 56px;
		line-height: 1.07;
		max-width: 496px;
	}
	.methods {
		padding-top: 120px;
	}
	.mtd-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.mtd-list-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		gap: 8px;
	}
	.list-icon {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin-bottom: 8px;
		width: 264px;
		height: 112px;

		background: var(--white-first-color);
		border-radius: 4px;
	}
	.mtd-list-title {
		font-size: 20px;
		line-height: 1.2;
		align-items: start;
	}
	.mtd-list-text {
		width: 264px;
	}
	.work {
		display: flex;
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.work-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: var(--main-color);
		margin-bottom: 72px;
	}
	.work-list {
		display: flex;
		gap: 24px;
	}

	.team {
		background: var(--white-first-color);
		padding: 120px 0 120px;
	}
	.team-list {
		display: flex;
		flex-direction: row;
		gap: 24px;
	}
	.customers {
		padding: 120px 0;
	}
	.customers-list {
		display: flex;
		gap: 24px;
	}
	.footer-logo {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 800;
		font-size: 18px;
		line-height: 1.7;
		display: inline-block;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--white-first-color);
		margin-bottom: 16px;
		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.footer-logo span {
		color: var(--blue-first-color);
	}
	.footer-text {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--white-second-color);
		width: 264px;
	}
	.footer {
		background: var(--main-color);
		padding: 100px 0;
	}
	.footer-container {
		display: flex;
		direction: row;
	}
	.footer-main {
		display: block;
		align-items: center;
		width: 35%;
	}
	.footer-subcontainer {
		display: block;
		align-items: center;
		width: 65%;
		position: relative;
	}
	.footer-subtitle {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--white-pure-color);
		margin-bottom: 8px;
	}
	.footer-form {
		display: flex;
		flex-direction: row;
		gap: 24px;
		position: absolute;
		left: 59%;
	}
	.footer-label {
		display: flex;
		flex-direction: column;
	}
	.footer-imput {
		width: 264px;
		height: 40px;
		margin-top: 8px;
		padding-left: 12px;
		border: 1px solid var(--white-pure-color);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		color: var(--white-pure-color);
		background: var(--main-color);
	}
	.footer-imput::placeholder {
		padding-left: 4px;
		height: 14px;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
		color: var(--white-pure-color);
	}
	.footer-label span {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--white-pure-color);
	}
	.footer-btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 16px 24px;
		gap: 16px;
		margin-top: 32px;
		width: 165px;
		height: 40px;
		color: var(--white-pure-color);
		background: var(--blue-first-color);
		border-color: transparent;
		border-radius: 4px;
		transition-property: background;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.footer-btn:hover,
	.footer-btn:focus {
		background: var(--blue-second-color);
	}
	.media-list {
		display: flex;
		gap: 16px;
	}
	.media-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.1);
		transition-property: background;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.media-link:hover,
	.media-link:focus {
		background-color: var(--footer-link);
	}
}
