@media screen and (min-width: 480px) {
	.container {
		max-width: 428px;
	}
	.methods {
		width: 100%;
		padding: 96px 0;
	}
	.list-icon {
		display: none;
	}
	.mtd-list {
		padding: auto;
		flex-direction: column;
		gap: 72px;
		width: 100%;
	}
	.mtd-list-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.11;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		color: var(--main-color);
		padding-bottom: 8px;
	}
	.mtd-list-text {
		width: 396px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--accent-color);
	}
	.work {
		display: none;
	}
	.team {
		padding: 96px 0;
	}
	.team-list {
		flex-direction: column;
		gap: 72px;
	}
	.customers-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 24px;
		justify-content: center;
		padding-left: 96px 16px;
	}
	.footer {
		height: 662px;
		padding: 0;
	}
	.footer-container {
		margin: 0 auto;
		width: 100%;
		padding-top: 96px;
		display: block;
		/* direction: column; */
		position: relative;
	}
	.footer-main {
		display: block;
		width: 268px;
		padding: 0 80px;
		position: relative;
		margin-bottom: 72px;
	}
	.footer-logo {
		padding-left: 75%;
		margin-bottom: 16px;
	}
	.footer-subcontainer {
		display: block;
		padding-left: 27%;
		position: relative;
		margin-bottom: 72px;
	}
	.footer-subtitle {
		min-width: 96px;
		padding-left: 55px;
		margin-bottom: 16px;
	}
	.footer-form {
		display: inline-block;
		position: absolute;
		left: 4%;
	}
	.footer-label {
		display: flex;
		flex-direction: column;
	}
	.footer-imput {
		width: 396px;
		height: 40px;
		margin-top: 16px;

		border: 1px solid var(--white-pure-color);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
		border-radius: 4px;
		color: var(--white-pure-color);
		background: var(--main-color);
	}
	.footer-imput::placeholder {
		padding-left: 4px;
		height: 14px;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
		color: var(--white-pure-color);
	}
	.footer-label span {
		padding-left: 40%;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: var(--white-pure-color);
	}
	.footer-btn {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 16px 24px;
		gap: 16px;
		margin-top: 32px;
		width: 165px;
		height: 40px;
		color: var(--white-pure-color);
		background: var(--blue-first-color);
		border-color: transparent;
		border-radius: 4px;
		transition-property: background;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
	.footer-btn:hover,
	.footer-btn:focus {
		background: var(--blue-second-color);
	}
	.footer-btn-mobile {
		padding-left: 30%;
	}
}
