:root {
	--main-color: #2e2f42;
	--accent-color: #434455;
	--white-pure-color: #ffffff;
	--white-first-color: #f4f4fd;
	--white-second-color: #e7e9fc;
	--blue-first-color: #4d5ae5;
	--blue-second-color: #404bbf;
	--grey-color: #8e8f99;
	--footer-link: #31d0aa;
	--modal-window: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: "Roboto", sans-serif, "Raleway", sans-serif;
	font-weight: 400;
	background: var(--white-pure-color);
	color: var(--main-color);
}
.container {
	max-width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}
.container-header {
	display: flex;
	align-items: center;
	max-width: 1158px;
	margin: 0 auto;
	padding: 0 15px;
}
.link {
	text-decoration: none;
}
.link:hover,
.link:focus,
.link:active {
	color: var(--blue-second-color);
}
.list {
	list-style: none;
	display: flex;
	align-items: center;
}
.header {
	border-bottom: 1px solid var(--white-second-color);
}
.header-navigation {
	display: flex;
	align-items: center;
}
.header-logo {
	font-family: "Raleway", sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: inline-block;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--main-color);
	margin-right: 76px;
	padding: 24px 0;
}
.header-logo span {
	color: var(--blue-first-color);
}
.header-addess {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.header-list {
	display: flex;
	gap: 40px;
}
.header-list-item {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-color);
}
.header-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-color);
	position: relative;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.active {
	color: var(--blue-second-color);
}
.header-link.active::after {
	content: "";
	width: 100%;
	height: 4px;
	position: absolute;
	background-color: var(--blue-second-color);
	top: 43px;
	left: 0;
	border-radius: 2px;
}
.header-mail {
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-color);
	margin-right: 40px;
	padding: 24px 0;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tell {
	font-style: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--main-color);
	padding: 24px 0;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero section */
.hero {
	background: var(--main-color);
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url(../images/background/people-office1.jpg);
	border-image-repeat: no-repeat;
	margin: 0 auto;
	max-width: 1440px;
	padding-top: 188px;
	padding-bottom: 188px;
	border: 1px solid #000;
}
.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 48px;
}
.hero-title {
	font-size: 56px;
	font-weight: 700;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--white-pure-color);
	width: 496px;
}
.hero-btn {
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	width: 169px;
	height: 56px;
	gap: 10px;
	padding-left: 32px;
	font-size: 16px;
	line-height: 1.5;
	align-items: center;
	letter-spacing: 0.04em;
	color: var(--white-pure-color);
	cursor: pointer;
	background: var(--blue-first-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	margin: 0 auto;
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
	background: var(--blue-second-color);
}
.methods {
	padding-top: 120px;
}
.visually-hidden {
	position: absolute;
	top: -150%;
	z-index: -100;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	user-select: none;
	pointer-events: none;
	cursor: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
	outline: none;
	white-space: nowrap;
}
.mtd-list {
	display: flex;
	column-gap: 24px;
}
.list-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
	width: 264px;
	height: 112px;

	background: var(--white-first-color);
	border-radius: 4px;
}
.mtd-list-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--main-color);
}
.mtd-list-text {
	width: 264px;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
.work {
	padding-top: 120px;
	padding-bottom: 120px;
}
.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-color);
	margin-bottom: 72px;
}
.work-list {
	display: flex;
	gap: 24px;
}
.team {
	background: var(--white-first-color);
	padding: 120px 0 120px;
}
.team-list {
	display: flex;
	gap: 24px;
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-color);
	margin-bottom: 72px;
}
.team-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--main-color);
	margin-bottom: 8px;
}
.team-prof {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--accent-color);
	font-size: 16px;
	margin-bottom: 8px;
}
.team-content {
	padding: 32px 16px;
	background-color: var(--white-pure-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}
.social-list {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.social-item {
	fill: var(--blue-first-color);
}
.social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--blue-first-color);
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
	background-color: var(--blue-second-color);
}
.customers {
	padding: 120px 0;
}
.customers-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--main-color);
	margin-bottom: 72px;
}
.customers-list {
	display: flex;
	gap: 24px;
}
.customers-item {
	width: 168px;
	height: 88px;
}
.customers-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 1px solid var(--grey-color);
	border-radius: 4px;
	transition-property: border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:is(:hover, :focus) {
	border-color: var(--blue-second-color);
}
.customers-link:hover .customers-icon {
	fill: var(--blue-second-color);
}
.customers-icon {
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	fill: var(--grey-color);
}
.footer-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.7;
	display: inline-block;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-first-color);
	margin-bottom: 16px;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo span {
	color: var(--blue-first-color);
}
.footer-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-second-color);
	width: 264px;
}
.footer {
	background: var(--main-color);
	padding: 100px 0;
}
.footer-container {
	display: flex;
	direction: row;
}
.footer-main {
	display: block;
	align-items: center;
	width: 35%;
}
.footer-subcontainer {
	display: block;
	align-items: center;
	width: 65%;
	position: relative;
}
.footer-subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-pure-color);
	margin-bottom: 8px;
}
.footer-form {
	display: flex;
	flex-direction: row;
	gap: 24px;
	position: absolute;
	left: 59%;
}
.footer-label {
	display: flex;
	flex-direction: column;
}
.footer-imput {
	width: 264px;
	height: 40px;
	margin-top: 8px;
	padding-left: 12px;
	border: 1px solid var(--white-pure-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: var(--white-pure-color);
	background: var(--main-color);
}
.footer-imput::placeholder {
	padding-left: 4px;
	height: 14px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--white-pure-color);
}
.footer-label span {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-pure-color);
}
.footer-btn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 24px;
	gap: 16px;
	margin-top: 32px;
	width: 165px;
	height: 40px;
	color: var(--white-pure-color);
	background: var(--blue-first-color);
	border-color: transparent;
	border-radius: 4px;
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
	background: var(--blue-second-color);
}
.media-list {
	display: flex;
	gap: 16px;
}
.media-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
	background-color: var(--footer-link);
}
.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 96px;
	padding-bottom: 120px;
}
.portfolio-list {
	display: flex;
	gap: 24px;
	justify-content: center;
}
.btn {
	font-family: inherit;
	background: --white-first-color;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	height: 48px;
	color: var(--blue-first-color);
	padding: 24px;
	background: var(--white-first-color);
	border: 1px solid var(--white-second-color);
	border-radius: 4px;
	transition-property: color, background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
	color: var(--white-pure-color);
	background: var(--blue-second-color);
}
.exampl-list {
	flex-wrap: wrap;
	row-gap: 48px;
	column-gap: 24px;
	margin-top: 72px;
}
.text-overlay {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-first-color);
	background: var(--blue-second-color);
	top: 0;
	left: 0;
	position: absolute;
	padding: 40px 32px;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.window-overlay {
	position: relative;
	overflow: hidden;
}
.exampl-item:hover .text-overlay {
	transform: translateY(0);
}
.exampl-item {
	background: var(--white-pure-color);
}
.exampl-item:hover {
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.exampl-content {
	padding: 32px 16px;
	border-right: 1px solid var(--white-second-color);
	border-left: 1px solid var(--white-second-color);
	border-bottom: 1px solid var(--white-second-color);
}
.exampl-subtitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--main-color);
	margin-bottom: 8px;
}
.exampl-descr {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
.backdrop {
	width: 100%;
	height: 100%;
	background: rgba(46, 47, 66, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	transition-property: opacity, visibility;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
	width: 408px;
	min-height: 576px;
	background: var(--modal-window);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.modal-close {
	display: block;
	margin-left: 24px;
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
}
.modal-close {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 0;
	position: absolute;
	top: 24px;
	right: 24px;
	background: var(--white-second-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close:hover {
	background: var(--blue-second-color);
}
.modal-title {
	margin-bottom: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--main-color);
	padding-top: 72px;
}
.modal-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	width: 360px;
	margin: 0 auto;
	border-radius: 4px;
}
.form-imput {
	margin-top: 4px;
	width: 360px;
	height: 40px;
	padding-left: 38px;
	outline: transparent;
	opacity: 0.2;
	border: 1px solid var(--main-color);
	border-radius: 4px;
	transition-property: opacity, border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-imput:focus {
	opacity: 1;
	border: 1px solid var(--blue-first-color);
}
.form-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white-pure-color);
	margin: 24px auto;
	padding: 16px 32px;
	width: 169px;
	height: 56px;
	border: transparent;
	background: var(--blue-first-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	transition-property: background;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
	background: var(--blue-second-color);
}
.form-textarea {
	margin-top: 4px;
	width: 360px;
	height: 120px;
	padding: 0 0 0 12px;
	outline: transparent;
	opacity: 0.2;
	border: 1px solid var(--main-color);
	border-radius: 4px;
	resize: none;
	transition-property: opacity, border;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
	opacity: 1;
	border: 1px solid var(--blue-first-color);
}
.form-textarea::placeholder {
	padding-left: 4px;
	height: 14px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: rgba(46, 47, 66, 0.4);
}
.privacy-policy {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--grey-color);
	flex: none;
	order: 1;
	flex-grow: 0;
}
.form-group {
	position: relative;
}
.form-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 16px;
	fill: var(--main-color);
	transition-property: fill;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.label-span {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--grey-color);
}
.privacy-policy-link {
	margin-left: 5px;
	color: var(--blue-first-color);
	text-decoration-line: underline;
}
.form-imput:focus + .form-icon {
	fill: var(--blue-first-color);
}
.form-label-checkbox {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--grey-color);
	display: flex;
	align-items: center;
}
.form-label-checkbox span {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 8px;
	width: 16px;
	height: 16px;
	border: 1px solid var(--main-color);
	border-radius: 2px;
}
.form-checkbox:checked + .form-label-checkbox span {
	background: #404bbf;
	border: 1px solid #404bbf;
	border-radius: 2px;
}
.form-checkbox:checked + .form-label-checkbox::before {
	background: #404bbf;
	border: 1px solid #404bbf;
	border-radius: 2px;
}
