@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	.container-header {
		max-width: 768px;
		display: flex;
		align-items: center;
		margin: 0 auto;
		padding: 0 15px;
	}
	.header-list {
		display: flex;
	}
	.li-none {
		display: list-item;
	}

/* Hero section */
.hero-container {
	max-width: 768px;
}
.hero {
	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
		url(../images/background/people-tb.jpg);
	max-width: 768px;
	margin: 0 auto;
	padding-top: 112px;
	padding-bottom: 108px;
}
/* Перевизначаємо шлях до 2x зображення,
    якщо щільність екрану мінімум 2 */
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
			url(../images/background/people-tb-2x.jpg);
	}
}
.hero-title {
	font-size: 56px;
	line-height: 1.07;
	max-width: 496px;
}
.methods {
	padding-top: 96px;
}
.list-icon {
	display: none;
}
.mtd-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
	width: 100%;
}
.mtd-list-text {
	width: 356px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
.work {
	display: none;
}
.team {
	padding: 96px 0;
}
.team-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
}
.customers-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
}
.footer {
	height: 454px;
	padding: 0;
}
.footer-container {
	padding-top: 96px;
	padding-left: 20px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: start;
	position: relative;
}
.footer-main {
	display: block;
	width: 50%;
	align-items: start;
}
.footer-logo {
	padding-left: 0;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.7;
	display: inline-block;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-first-color);
	margin-bottom: 16px;
	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-logo span {
	color: var(--blue-first-color);
}
.footer-subcontainer {
	padding: 0 24px;
	display: block;
	align-items: center;
	width: 50%;
	position: relative;
}
.footer-subtitle {
	padding-left: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-pure-color);
	margin-bottom: 8px;
}
.footer-form {
	display: flex;
	flex-direction: row;
	padding-left: 55px;
	gap: 24px;
	position: relative;
}
.footer-imput {
	width: 264px;
	height: 40px;
	margin-top: 8px;
	padding-left: 16px;
	border: 1px solid var(--white-pure-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	color: var(--white-pure-color);
	background: var(--main-color);
}
.footer-imput::placeholder {
	padding-left: 4px;
	height: 14px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--white-pure-color);
}
.footer-label span {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--white-pure-color);
}
.footer-btn-mobile {
	padding: 0;
}
